<div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Página Não Encontrada</h3>

        <div class="error-desc">
            Desculpe, mas a página que você tentou acessar não foi encontrada. Verifique se a url está correta e tente novamente. Se o problema persistir, entre em contato com o suporte técnico.
            <form class="form-inline m-t" role="form">
               
                <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Voltar</button>
            </form>
        </div>
    </div>